/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset for Bulma */
a:hover {
  color: white;
}
/*************************** MY CSS *************************/
/* VARIABLES */
:root {
  --secondary-font-family: "Roboto", sans-serif;
  --main-font-family: "Roboto", sans-serif;
  --main-background: #ecf0f1;
  --header-color: #2ecc71;
  --logo-background: #27ae60;
  --sidebar-background: #34495e;
}

/**************** GENERAL ******************/
html body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: var(--main-font-family);
  background: var(--main-background);
  background-size: cover;
  position: absolute;
}
.main {
  display: flex;
  height: 92vh;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flexNoWrap {
  display: flex;
}
.card {
  background-color: white;
  border-top: 5px solid var(--header-color);
  margin-top: 2rem;
}
.pageName {
  margin-top: 2rem;
  font-size: 2rem;
}
.insideCardTitle {
  margin: 1rem 0 0 1rem;
}
.hide {
  display: none;
}
.selectedSidebarItem {
  background: #2c3e50;
  font-weight: bold;
}
.modalDeleteGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.modalDeleteHeader {
  font-weight: bold;
  font-size: 2rem;
}
.modalDeleteButtons {
  text-align: center;
  margin-bottom: 2rem;
}
.modalDeleteGrid button {
  font-weight: bold;
  padding: 10px 2rem;
}
/**************** BUTTONS *******************/
.btnYellow {
  background-color: #fed330;
  border: none;
  border-bottom: 3px solid #f7b731;
  cursor: pointer;
  color: white;
}
.btnRed {
  background-color: #e74c3c;
  border: none;
  border-bottom: 3px solid #c0392b;
  cursor: pointer;
  color: white;
}
.btnGreen {
  background-color: #2ecc71;
  border: none;
  border-bottom: 3px solid #27ae60;
  cursor: pointer;
  color: white;
}
.newKarteiButton {
  height: 2rem;
  width: 8rem;
  font-weight: 650;
  font-size: 1rem;
}
.noStyleButton {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
/**************** HEADER *****************/
header {
  display: flex;
  background-color: var(--header-color);
  height: 8vh;
  overflow: auto;
}
.login {
  height: 8vh;
  display: flex;
  margin: auto 0 auto auto;
  color: white;
  margin-right: 3rem;
}
.login a {
  color: white;
}
.logout {
  height: 5vh;
  display: flex;
  margin: auto 0 auto auto;
  color: white;
  margin-right: 3rem;
  text-align: right;
}

.loginForm {
  margin: auto 0 auto 1rem;
}
.logo {
  width: 20vw;
  background-color: var(--logo-background);
  display: flex;
  justify-content: center;
  height: inherit;
  font-size: 2rem;
  color: white;
}
.logo img {
  height: 7vh;
  margin: auto 0;
}
.logo h3 {
  margin: auto 0 auto 1rem;
}
.burgerNav {
  margin: auto 0 auto 1rem;
}
#mainButton {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}
.loginInput {
  background-color: var(--header-color);
  border: 1px solid white;
  color: white;
  margin-right: 1rem;
}
.loginInput::placeholder {
  color: white;
}
.registerLink {
  margin: auto 0 auto 1rem;
}
.logoutButton {
  background-color: var(--header-color);
  border: none;
  cursor: pointer;
  color: white;
}
.headerUserInfo {
  margin-left: 1rem;
}
/***************** MENU_SIDE_BAR ********************/
.menuSideBar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.menuSideBar {
  height: 100%;
  overflow: auto;
  width: 20vw;
  text-align: center;
  background: var(--sidebar-background);
}
.menuList {
  margin-top: 4rem;
}
.menuItems {
  padding: 1rem 0;
  border-bottom: 1px solid #8079e2;
}
.menuItems:hover {
  background-color: #2c3e50;
}
.karteiZaehler {
  background: var(--header-color);
  border-radius: 4px;
}
/********************* MAIN_TEXT *************************/
.mainWindow {
  margin: 0 auto;
  width: 70vw;
  overflow-y: scroll;
}
.ownHero {
  text-align: center;
}
.mainWindowContent {
  padding: 5rem;
}
.mainHeader {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-family: var(--secondary-font-family);
}
h2 {
  font-size: 2rem;
}
strong {
  font-weight: bold;
}
.headerBrainColor {
  color: var(--logo-background);
}
.headerTrainColor {
  color: var(--header-color);
}

/* REGISTER.HTML */
.registerInputFields {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2rem;
  text-align: right;
}
.datenschutz {
  font-size: 10px;
  line-height: 1.2;
  display: inline-block;
}
.registerAlert {
  background: #e74c3c;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  font-size: 14px;
}
.registerCenter {
  text-align: center;
}
#registerButton {
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 2rem;
  margin-bottom: 2rem;
}
/* PROFIL */
.gridProfil {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto; */
  grid-template-areas:
    "name update"
    "statistik update";
  grid-gap: 2rem;
  margin-top: 2rem;
}
.gridProfilItem1 {
  grid-area: name;
  background-color: white;
  text-align: center;
}
.gridProfilItem2 {
  grid-area: statistik;
  background-color: white;
  text-align: center;
}
.gridProfilItem3 {
  grid-area: update;
  background-color: white;
}
.profilInputFields {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  text-align: right;
}
#updateProfilButton {
  padding: 10px 3rem;
  font-weight: bold;
  font-size: 1rem;
}
.profilDeleteImage {
  width: 2rem;
  height: 36px;
}
.profilButtonHelper {
  margin-left: 1rem;
}
/* EDIT */
.editInputFields {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  text-align: right;
}
.editInputDescriptions {
  margin: 3rem 1rem 0 0;
  text-align: right;
}
.publicOrPrivate {
  font-size: 10px;
  line-height: 1.2;
  display: inline-block;
}
.editCategorySelect {
  width: 40rem;
}
.editRadioButtons {
  text-align: center;
}
.editKastenButton {
  text-align: center;
}
#editKastenButton {
  font-size: 1rem;
  font-weight: bold;
  width: 12rem;
}
/* EDIT2 */
.edit2Grid {
  display: grid;
  grid-template-areas:
    "number number number"
    "titel titel titel"
    ". . buttons";
}
.edit2Number {
  grid-area: number;
}
.edit2Titel {
  grid-area: titel;
}
.edit2Buttons {
  grid-area: buttons;
}
.edit2SingleCardGrid {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.edit2SingleCardButtons {
  text-align: center;
}
.edit2deleteButton {
  height: 24px;
  width: 28px;
}
/* KARTEIKASTEN */
.karteikastenFlex {
  display: flex;
  justify-content: space-between;
}
.karteikastenThemaHeader {
  margin: 2rem 0 0 0;
}
.karteikastenLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.karteikastenCard {
  background-color: white;
  border-top: 1rem solid var(--header-color);
  margin-top: 2rem;
  text-align: center;
}
.karteikastenCardUnterkategorie {
  text-align: center;
  margin-top: -15px;
  color: white;
}
.karteikastenCardHeader {
  margin: 1rem 0 0 8px;
  text-align: left;
}
.karteikastenCardBeschreibung {
  margin: 2rem 2rem 1rem 8px;
  text-align: left;
}
.karteikastenInputSearch {
  margin: 0 auto;
  background-color: var(--main-background);
  border: 0.3px solid gray;
}
.karteikastenInputSelect {
  margin-left: 12rem;
  margin-right: 1rem;
  background-color: var(--main-background);
}
.karteikastenLayout a {
  color: black;
  display: block;
}
.karteikastenInsideHexagon {
  font-size: 13px;
  text-align: center;
  margin-top: -55px;
  color: white;
  position: relative;
}
.viewKarteButtonWhiteFont {
  color: white;
}
.karteButton {
  font-weight: bold;
}
.kastenDeleteButton {
  height: 24px;
  width: 28px;
}
/* VIEW */
.viewFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
  padding-bottom: 1rem;
}
.insideHexagon {
  font-size: 13px;
  text-align: center;
  margin-top: -55px;
  color: white;
  position: relative;
}
.viewGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-gap: 1rem;
}
.viewCardList {
  width: 33.3%;
}
.viewCardListGrid {
  display: grid;
  grid-template-columns: 1fr;
}
.viewSingleCard {
  width: 65%;
  margin-left: 1rem;
}
.viewSingleCard .flexNoWrap {
  justify-content: space-between;
}
.viewListItemFlex {
  justify-content: space-between;
}
.viewFachInsideHexagon {
  font-size: 13px;
  text-align: center;
  margin-top: -38px;
  margin-left: -10px;
  color: white;
  position: relative;
}
.viewPositionTitle {
  margin-top: 1rem;
}
.viewHexagon {
  margin-right: 10px;
}
.viewSingleCard .hexagon,
.viewSingleCard .hexagon-in2 {
  background: var(--sidebar-background);
}
.viewSingleCard .hexagon2 {
  width: 30px;
  height: 60px;
}
.viewPositionHexagonHeader {
  margin-top: -20px;
}
.viewBackgroundGreen {
  background: #27ae60;
  color: white;
}
/* LERN */
.lernWindow {
  display: flex;
  justify-content: center;
}
.lernFields {
  margin-top: 3rem;
}
.lernDescriptions {
  margin: 3rem 1rem 0 0;
  text-align: right;
}
.datenschutz {
  font-size: 10px;
  line-height: 1.2;
  display: inline-block;
}
.lernItem1 {
  margin-bottom: 1rem;
  height: 25px;
  width: 100%;
}
.lernItem2 {
  margin-bottom: 2rem;
  height: 25px;
  width: 100%;
}
.lernItem3 {
  margin-bottom: 1rem;
  height: 25px;
  width: 100%;
}
.lernSingleCard {
  width: 80%;
  margin: 1rem auto;
}
.lernSingleCard .flexNoWrap {
  justify-content: space-between;
}
.lernSingleCard .hexagon,
.lernSingleCard .hexagon-in2 {
  background: var(--sidebar-background);
}
.lernSingleCard .hexagon2 {
  width: 30px;
  height: 60px;
}
.lernCenterButton {
  text-align: center;
}
.aufdeckenButton {
  padding: 1rem 3rem 1rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}
.lernRightButton {
  text-align: right;
}

/* HEXAGON */
/* To use this hexagon
<div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
*/
.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  background: var(--header-color);
}
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background: var(--header-color);
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexagon2 {
  width: 40px;
  height: 80px;
}
/* ID's to change hexagon background color dynamically */
#hex1,
#hex2 {
  background: var(--header-color);
}
/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  /* GENERAL */
  .logo {
    display: none;
  }
  .mainWindowContent {
    padding: 0;
  }
  .menuSideBar {
    display: none;
  }
  .card {
    margin-top: 0;
  }
}
/* Phones */
@media (max-width: 600px) {
  /* GENERAL */
  .mainWindow {
    width: 100vw;
  }
  /* REGISTRIEREN */
  .gridProfil {
    grid-template-areas:
      "name"
      "statistik"
      "update"
      "update";
  }
}
